.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.table {
  display: flex;
  flex-direction: column;
  margin: 8px;
  overflow: hidden;
  padding: 16px;
}

.table * {
  margin-bottom: 8px;
}

.center {
  align-items: center;
  justify-content: center;
}

.expand {
  width: 100%;
}