.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
